@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4><a asp-controller="Files" asp-action="Index">Text Files</a></h4>
    <h4>Name: Vincent Lam</h4>
    <h4>Student ID: A01253898</h4>
    <p>When I graduate I would like a job that makes me happy ^_^</p>
</div>
